APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

TWILIO_SID = "AC25d0303340287580157eb7ed901105cb"
TWILIO_AUTHTOKEN = "5fe9dd106b510367a876d64ab4b5e748"
TWILIO_NUMBER = "+15005550006"

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

PER_PAGE=15

COMPANY_HOUSE_API_KEY=eafcvCvkBkJR5lJRs7d1I1Qx3l9dG8zDXw8y4pR9
COMPANY_HOUSE_API_URL=https://api.companieshouse.gov.uk

#PayPal Setting & API Credentials - sandbox
PAYPAL_SANDBOX_API_USERNAME="john.diegor_api1.outlook.com"
PAYPAL_SANDBOX_API_PASSWORD=YGXRCYRYNKMJWVWD
PAYPAL_SANDBOX_API_SECRET=
PAYPAL_SANDBOX_API_CERTIFICATE=

#PayPal Setting & API Credentials - live
PAYPAL_LIVE_API_USERNAME=
PAYPAL_LIVE_API_PASSWORD=
PAYPAL_LIVE_API_SECRET=
PAYPAL_LIVE_API_CERTIFICATE=

COMPANY_EMAIL=bookings@mytravelcompared.com
GOOGLE_API_KEY=AIzaSyDmNIFsqdPzBX6g1BoKTWi3dbfiFInDtT8
