/* START HEADER */
#header{
	width: 100%;
	height: 100vh;
	border-left: none;
	border-right: none;
	position: relative;
	background: rgba(0, 0, 0, 0.40);
}
.fullscreen-bg{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	overflow: hidden;

}
.fullscreen-bg__video{
	position: absolute;
	z-index: -1;
	width: 100%;
}

 @media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;

  }
 
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
  
}
.header{
  font-size: 90px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  position: relative;
  margin-bottom: 15px;
  letter-spacing: 20px;
}
.header-sub{
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  position: relative;
  font-weight: 100;
  letter-spacing: 19px;
}
.book{
  position: relative;
  top: 28%;

}
.book-box{
  margin-top: 70px;
  background-color: rgba(0, 0, 0, 0.20);
  padding: 20px 100px 40px 20px;
  color: #fff;
  font-family: "Montserrat";
  letter-spacing: 1px;
}
.input1{
position: relative;
height: 35px;
top: 3px;
}
.input2{
position: relative;
right: 2%;
}
.input3{
position: relative;
left: 0%;
margin-top: 24px;
}
.input4{
position: relative;
left: 4%;
}
.input5{
position: relative;
left: 6%;
margin-top: 24px;
}
.input6{
position: relative;
}
.btn-primary{
position: relative;
left: 44%;
width: 200px;
height: 35px;
border-radius: 2px;
background-color: #27b2e0;
color: #fff;
border: 1px #27b2e0;
margin-top: 24px;
}
.btn-primary:hover{
  font-weight: 500;
}
.v-scroll{
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  position: absolute;
  top: 100px;
}
.v-align{
  text-align: center;
}
/* END HEADER */
/* START NAVBAR */

.navbar-dark{
	background-color: transparent;

}
.bg-dark {
    background-color: transparent !important;
}
.navbar{
	  position: absolute;
	  left: 50%;
    transform: translateX(-50%);
    background-color: none;
    margin: 60px 0 0 0;
    right: 0;
    z-index: 1;
}
.navbar-dark .navbar-nav .nav-link{
	color: #fff;
	font-family: "Montserrat";
	font-size: 16px;
	font-weight: 100;
}
.navbar-dark .navbar-nav .nav-link:hover
{
	color: #27b2e0;
}
.vl {
    border-left: 1px solid #fff;
    height: 40px;
    margin-left: 39px;
    margin-right: 39px;
}

/* END NAVBAR */

/* START LAYER 2 */
#layer2{
  background: url('../img/layer2.png');
    min-height: 100vh;
    width: auto;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.l-con1{
  font-size: 33px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: right;
  position: relative;
}
.l-con2{
  font-size: 25px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: right;
  position: relative;
}
.l-con3{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.714;
  position: relative;
}
/* END LAYER 2 */
/* START LAYER 3 */
#layer3{
    height: 29vh;
    width: auto;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27b2e0;
    text-align: center;
}
.layer3-header{
  font-size: 40px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.95186085627567,0,0,0.95186085627567,0,0);
  -webkit-transform: matrix( 0.95186085627567,0,0,0.95186085627567,0,0);
  -ms-transform: matrix( 0.95186085627567,0,0,0.95186085627567,0,0);
  position: relative;
}
.layer3-sub{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: relative;
}
/* END LAYER 3 */
/* START LAYER 4 */
#layer4{
  position: relative;
  background-color: #ecf3f9;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 50px;
}
.layer4-title{
  font-size: 40px;
  font-family: "Montserrat";
  color: rgb(39, 178, 224);
  line-height: 1.2;
  text-align: center;
  position: relative;
  font-weight: 500;
  right: 4%;
  margin-bottom: 90px;
}
.layer4-header{
  font-size: 28px;
  font-family: "Montserrat";
  color: rgb(39, 178, 224);
  line-height: 1.2;
  position:relative;
}
.layer4-content{
  font-size: 15px;
  font-family: "Montserrat";
  color: rgb(67, 67, 67);
  line-height: 1.786;
  text-align: center;
  position: relative;
}
.vl4 {
    border-left: 1px solid rgb(67, 67, 67);
    height: 400px;
    margin-left: 39px;
    margin-right: 39px;
}
.layer4-align{
 position: relative;
 left: 3%;
}

/* END LAYER 4 */
/* START LAYER 5 */
#layer5{
  margin-bottom: 80px;
}
.layer5-header{
  font-size: 40px;
  font-family: "Montserrat";
  color: rgb(39, 178, 224);
  line-height: 1.2;
  text-align: center;
  position: relative;
  font-weight: 500;
  right: 4%;
  margin-bottom: 50px;
  margin-top: 80px;
  left: 1%;
}
.testi-align{
  text-align: center;
}
.testi-name{
  margin-bottom: 70px;
}
.testi{
  margin-top: 40px;
}
.testi-star{
  margin-bottom: 70px;
  margin-left: 100px;
}
.t-name{
margin-top: 50px;
}
.t-star{
margin-top: 50px;
}
/* END LAYER 5 */
/* START LAYER 6 */
#layer6{
  min-height: 29vh;
    width: auto;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27b2e0;
    text-align: center;
}
.layer6-header{
  font-size: 40px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.95186085627567,0,0,0.95186085627567,0,0);
  -webkit-transform: matrix( 0.95186085627567,0,0,0.95186085627567,0,0);
  -ms-transform: matrix( 0.95186085627567,0,0,0.95186085627567,0,0);
  position: relative;
}
.layer6-sub{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: relative;
}
/* END LAYER 6 */
/* START LAYER 7 */
#layer7{
  margin: 100px 0 50px 20px;
}
.layer7-header{
  font-size: 21px;
  font-family: "Montserrat";
  color: rgb(39, 178, 224);
  line-height: 1.2;
  position: relative;
}
.layer7-con{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(67, 67, 67);
  line-height: 1.2;
  position: relative;
}
.layer7-name{
  font-size: 13px;
  font-family: "Montserrat";
  color: rgb(26, 26, 26);
  font-weight: bold;
  line-height: 1.2;
  position: relative;
}

/* END LAYER 7 */
/* START FOOTER */
footer{
  background-color: #1c1c1c;
  padding: 100px 0 50px 0;
}
.foot-col2{
  font-size: 35px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  position: relative;
  letter-spacing: 10px;
  left: 2%;

}
.foot-col1{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: relative;
  left: 2%;
}
.foot-col2-sub{
  font-size: 15px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  position: relative;
  letter-spacing: 4px;
  bottom: 10%;

}
.foot-col3{
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  position: relative;
  letter-spacing: 3px;
  margin-left: 37px;
}
.info{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  position: relative;
}
.col3-align{
  position: relative;
  left: 5%;
}

/* START MOBILE */

@media only screen and (max-width:700px){

  #header{
  width: 100%;
  height: 100vh;

}
.header-sub{
  font-size: 20px;
  letter-spacing: 7px;
  }

  .navbar-dark .navbar-toggler {
  position: relative;
  left: 150%;
  top: 45px;

}
  .navbar{
    position: absolute;
    margin-top: -41px;
    display: block;
    float: left;
    left: 30%;
    right:10%;
  }

  .text-center {
    text-align: left!important;
}

  .vl{
    display: none;
  }

  .vl4{
    display: none;
  }
.layer4-align{
 position: relative;
 left: 0%;
}
.header{
  font-size: 40px;
   letter-spacing: 13px;
}

.header-sub{
  font-size: 17px;
    letter-spacing: 6px;
  }
.col3-align {
    position: relative;
    left: 0%;
}

.input1{
position: relative;
height: 35px;
top: 3px;
margin-bottom: 24px;
}
.input2{
position: relative;
right: 0%;
}
.input3{
position: relative;
left: 0%;
margin-top: 10px;
}
.input4{
position: relative;
left: 0%;
}
.input5{
position: relative;
left: 0%;
margin-top: 10px;
}
.input6{
position: relative;
}
.btn-primary{
position: relative;
left: 0%;
width: 200px;
height: 35px;
border-radius: 2px;
background-color: #27b2e0;
color: #fff;
border: 1px #27b2e0;
margin-top: 10px;
}
.book-box{
  margin-top: 20px;
  background-color: transparent !important;
  padding: 20px 10px 20px 10px;
  color: #fff;
  font-family: "Montserrat";
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  bottom: 30px;
 
}
.main-header{
  padding-right: 0;
  position: relative;
  bottom: 25px;
}
.v-scroll{
  position: absolute;
  top: 1px;
  }
 .foot-col2-sub{
text-align: left;
margin-left: 10px;
  }
  .foot-col2{
text-align: left;
  }

}

@media only screen and (max-width:376px){

.v-scroll{
  position: relative;
  top: -40px;
  }
.header{
  font-size: 40px;
  letter-spacing: 13px;
  margin-top: 10px;
}

.header-sub{
  font-size: 17px;
    letter-spacing: 6px;
  }


}
@media only screen and (max-width:320px){
.header{
  font-size: 30px;
  letter-spacing: 13px;
  margin-top: 10px;
}

.header-sub{
  font-size: 12px;
  letter-spacing: 5px;
  }

.navbar-dark .navbar-nav .nav-link{
  color: #fff;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 100;
}
.book-box{
font-size: 15px;
margin-top: 0;
  }
.form-control-sm{
font-size: 12px !important;
}
.btn-primary{
font-size: 12px;
}
.v-scroll{
  position: relative;
  top: -55px;
  }
}

  /* END MOBILE */

