/* START HEADER */
#header{
  width: 100%;
  height: 100vh;
  border-left: none;
  border-right: none;
  position: relative;
  background: rgba(0, 0, 0, 0.40);
}
.fullscreen-bg{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;

}
.fullscreen-bg__video{
  position: absolute;
  z-index: -1;
  width: 100%;
}

 @media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;

  }
 
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
  
}
.main-header{
  text-align: center;
  position: relative;
  margin-bottom: 160px;
  right: 25%;
}
.header-logo{
  position: absolute;
  width: 50%;
}
.header{
  font-size: 90px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  position: relative;
  margin-bottom: 15px;
  letter-spacing: 20px;
}
.header-sub{
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  position: relative;
  font-weight: 100;
  letter-spacing: 19px;
}
.book{
  position: relative;
  top: 28%;

}
.book-box{
  margin-top: 70px;
  background-color: rgba(0, 0, 0, 0.20);
  padding: 20px 100px 40px 20px;
  color: #fff;
  font-family: "Montserrat";
  letter-spacing: 1px;
}
.input1{
position: relative;
height: 35px;
top: 3px;
}
.input2{
position: relative;
right: 2%;
}
.input3{
position: relative;
left: 0%;
margin-top: 0px;
}
.input4{
position: relative;
left: 4%;
}
.input5{
position: relative;
margin-top: 0px;
margin-left: 62px;
}
.input6{
position: relative;
}
.btn-primary{
position: absolute;
left: 346%;
bottom: 0;
width: 200px;
height: 35px;
border-radius: 2px;
background-color: #27b2e0;
color: #fff;
border: 1px #27b2e0;
margin-top: 24px;
}
.btn-primary:hover{
  font-weight: 500;
}

.time-width{
  width: 210%;
}
.date-width{
  width: 130%
}
.air-width{
  width: 100%;
}

.v-scroll{
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  position: absolute;
  top: 100px;
}
.v-align{
  text-align: center;
}
/* END HEADER */
/* START NAVBAR */

.overlay{
  display: none;
}
.nav-icon{
  display: none;
}

.navbar-dark{
  background-color: transparent;

}
.bg-dark {
    background-color: transparent !important;
}
.navbar{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: none;
    margin: 60px 0 0 0;
    right: 0;
    z-index: 1;
}
.navbar-dark .navbar-nav .nav-link{
  color: #fff;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 100;
}
.navbar-dark .navbar-nav .nav-link:hover
{
  color: #27b2e0;
}
.vl {
    border-left: 1px solid #fff;
    height: 40px;
    margin-left: 39px;
    margin-right: 39px;
}
.navbar.solid {
  background-color: #005e7d;
  transition: background-color 1s ease 0s;
  margin: 0 0 0 0;
  width: 100%;
  padding: 20px 0 20px 0;
  -webkit-box-shadow: 0 3px 20px 1px #000;
  -moz-box-shadow: 0 3px 20px 1px #000;
  box-shadow: 0 3px 20px 1px #000;
}
.navbar.solid .navbar-nav > .nav-item > .nav-link {
  transition: color 1s ease 0s;
  margin: 0 25px 0 25px;

  
}
.navbar.solid .navbar-nav > .nav-item > .nav-link:hover {
  border: 2px solid #27b2e0;
   }
   .dropdown-item {
  font-family: "Montserrat" !important;
}
.dropdown-item:hover {
  color: #27b2e0 !important;
}
.navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute !important;
    left: 33%;
}

/* END NAVBAR */

/* START LAYER 2 */
#layer2{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/layer2.png');
    min-height: 100vh;
    width: auto;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.l-con1{
  font-size: 33px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: right;
  position: relative;
  font-weight: bold;
}
.l-con2{
  font-size: 23px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: right;
  position: relative;
}
.l-con3{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.714;
  position: relative;
}
/* END LAYER 2 */
/* START LAYER 3 */
#layer3{
    height: 50vh;
    width: auto;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27b2e0;
    text-align: center;
}
.layer3-header{
  font-size: 40px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.95186085627567,0,0,0.95186085627567,0,0);
  -webkit-transform: matrix( 0.95186085627567,0,0,0.95186085627567,0,0);
  -ms-transform: matrix( 0.95186085627567,0,0,0.95186085627567,0,0);
  position: relative;
  font-weight: bold;
}
.layer3-sub{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: relative;
}
/* END LAYER 3 */
/* START LAYER 4 */
#layer4{
  position: relative;
  background-color: #ecf3f9;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 50px;
}
.layer4-title{
  font-size: 40px;
  font-family: "Montserrat";
  color: rgb(39, 178, 224);
  line-height: 1.2;
  text-align: center;
  position: relative;
  font-weight: 500;
  right: 5%;
  margin-bottom: 50px;
}
.layer4-header{
  font-size: 28px;
  font-family: "Montserrat";
  color: rgb(39, 178, 224);
  line-height: 1.2;
  position:relative;
}
.layer4-content{
  font-size: 15px;
  font-family: "Montserrat";
  color: rgb(67, 67, 67);
  line-height: 1.786;
  text-align: center;
  position: relative;
}
.vl4 {
    border-left: 1px solid rgb(67, 67, 67);
    height: 800px;
    margin-left: 39px;
    margin-right: 39px;
}
.layer4-align{
 position: relative;
 left: 3%;
}

/* END LAYER 4 */
/* START LAYER 5 */
#layer5{
  margin-bottom: 80px;
}
.layer5-header{
  font-size: 40px;
  font-family: "Montserrat";
  color: rgb(39, 178, 224);
  line-height: 1.2;
  text-align: center;
  position: relative;
  font-weight: 500;
  right: 4%;
  margin-bottom: 50px;
  margin-top: 80px;
  left: 1%;
}
.testi-align{
  text-align: center;
}

.testi-name0{
  margin-bottom: 90px;
}
.testi-name1{
  margin-bottom: 90px;
}
.testi-name2{
  margin-bottom: 95px;
}
.testi-name3{
  margin-bottom: 92px;
}
.testi-name4{
  margin-bottom: 92px;
}
.testi-name5{
  margin-bottom: 92px;
}
.testi-name6{
  margin-bottom: 95px;
}
.testi-name7{
  margin-bottom: 90px;
}
.testi-name8{
  margin-bottom: 90px;
}

.testi-star0{
  margin-bottom: 90px;
  margin-left: 100px;
}
.testi-star1{
  margin-bottom: 90px;
  margin-left: 100px;
}
.testi-star2{
  margin-bottom: 95px;
  margin-left: 100px;
}
.testi-star3{
  margin-bottom: 92px;
  margin-left: 100px;
}
.testi-star4{
  margin-bottom: 92px;
  margin-left: 100px;
}
.testi-star5{
  margin-bottom: 92px;
  margin-left: 100px;
}
.testi-star6{
  margin-bottom: 95px;
  margin-left: 100px;
}
.testi-star7{
  margin-bottom: 90px;
  margin-left: 100px;
}
.testi-star8{
  margin-bottom: 90px;
  margin-left: 100px;
}

.testi-con0{
  margin-bottom: 59px;
}
.testi-con1{
  margin-bottom: 59px;
}
.testi-con2{
  margin-bottom: 22px;
}
.testi-con3{
  margin-bottom: 34px;
}
.testi-con4{
  margin-bottom: 34px;
}
.testi-con5{
  margin-bottom: 24px;
}
.testi-con6{
  margin-bottom: 20px;
}
.testi-con7{
  margin-bottom: 59px;
}
.testi-con8{
  margin-bottom: 59px;
}

.testi{
  margin-top: 40px;
  
}
.t-name{
margin-top: 50px;

}
.t-star{
margin-top: 50px;

}

/* END LAYER 5 */
/* START LAYER 6 */
#layer6{
  min-height: 40vh;
    width: auto;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27b2e0;
    text-align: center;
}
.layer6-header{
  font-size: 40px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.95186085627567,0,0,0.95186085627567,0,0);
  -webkit-transform: matrix( 0.95186085627567,0,0,0.95186085627567,0,0);
  -ms-transform: matrix( 0.95186085627567,0,0,0.95186085627567,0,0);
  position: relative;
  font-weight: 600;
}
.layer6-sub{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: relative;
}
/* END LAYER 6 */
/* START LAYER 7 */
#layer7{
  margin: 100px 0 50px 20px;
}
.layer7-header{
  font-size: 21px;
  font-family: "Montserrat";
  color: rgb(39, 178, 224);
  line-height: 1.2;
  position: relative;
}
.layer7-con{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(67, 67, 67);
  line-height: 1.2;
  position: relative;
}
.layer7-name{
  font-size: 13px;
  font-family: "Montserrat";
  color: rgb(26, 26, 26);
  font-weight: bold;
  line-height: 1.2;
  position: relative;
}

/* END LAYER 7 */
/* START FOOTER */
footer{
  background-color: #1c1c1c;
  padding: 100px 0 50px 0;
}
.foot-col2{
  font-size: 35px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  position: relative;
  letter-spacing: 10px;
  left: 2%;

}
.foot-col1{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: relative;
  left: 2%;
}
.foot-col2-sub{
  font-size: 15px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  position: relative;
  letter-spacing: 4px;
  bottom: 10%;

}
.foot-col3{
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  position: relative;
  letter-spacing: 3px;
  margin-left: 37px;
}
.info{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  position: relative;
}
.col3-align{
  position: relative;
  left: 5%;
}
.footer-con{
  color: #fff;

}
.link-con{
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat";
  font-size: 15px;
}
.link-con:hover{
  text-decoration: none;
  color: #27b2e0;

}
.footer-con ul{
  overflow: hidden;
  position: relative;
  left: -7%;
}
.footer-con ul li{
  display: inline;
}
.footer-con ul li .fl{
  display: inline;
}
.fl{
   border-left: 2px solid #fff;
    height: 25px;
    margin-right: 16px;
    margin-left: 10px
}
.foot-gps{
  margin-left: 40px;
}
.foot-logo{
  width:90%; 
  margin-right:auto; 
  margin-left:auto;
}
/* END FOOTER */

/* START MOBILE */
@media only screen and (max-width:1200px){
.navbar{
  width: 100%;
}
.vl4 {
    display: none;
}
.layer4-align {
    left: 0%;
}
.layer4-title {
  right: 0;
  }
.col3-align {
    left: 3%;
}
.mob-icon{
  display: none;
}
    .foot-gps{
  margin-left: 0;
}
.info{
  position: relative;
  right: -4%;
}
.foot-col3 {
    right: 9%;
}

.input1{
position: relative;
height: 35px;
top: 3px;
margin-bottom: 0px;
}
.input2{
position: relative;
right: 0%;
margin-top: 5px;
}
.input3{
position: relative;
left: 0%;
margin-top: 5px;
}
.input4{
position: relative;
left: 0%;
margin-top: 5px;
}
.input5{
position: relative;
left: 0%;
margin-top: 5px;
margin-left: 0;
}
.input6{
position: relative;
}
.btn-primary{
position: relative;
left: 0%;
width: 80%;
height: 35px;
border-radius: 2px;
background-color: #27b2e0;
color: #fff;
border: 1px #27b2e0;
margin-top: 10px;
}
.book-box{
  margin-top: 20px;
  background-color: transparent !important;
  padding: 20px 10px 20px 10px;
  color: #fff;
  font-family: "Montserrat";
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  bottom: -100px;
 
}
.time-width{
 width: 80%;
}
.date-width{
  width: 80%;
}
.air-width{
  width: 80%;
}
.home-label{
  display: none;
}
.v-scroll{
  top:450px;
}
}

@media only screen and (max-width:769px){
.navbar{
  width: 92%;
}
.col3-align {
    left: 3%;
}
.vl4 {
    display: none;
}
.layer4-align {
    left: 0%;
}
.layer4-title {
  right: 0;
  }
.testi-name0{
  margin-bottom: 70px;
}
.testi-name1{
  margin-bottom: 70px;
}
.testi-name2{
  display: none !important;
}
.testi-name3{
  margin-bottom: 70px;
}
.testi-name4{
  margin-bottom: 70px;
}
.testi-name5{
  margin-bottom: 70px;
}
.testi-name6{
 display: none !important;
}
.testi-name7{
  margin-bottom: 70px;
}
.testi-name8{
  margin-bottom: 62px;
}

.testi-star0{
  margin-bottom: 100px;
  margin-left: 30px;
}
.testi-star1{
  margin-bottom: 100px;
  margin-left: 30px;
}
.testi-star2{
 display: none !important;
}
.testi-star3{
  margin-bottom: 100px;
  margin-left: 30px;
}
.testi-star4{
  margin-bottom: 100px;
  margin-left: 30px;
}
.testi-star5{
  margin-bottom: 100px;
  margin-left: 30px;
}
.testi-star6{
 display: none !important;
}
.testi-star7{
  margin-bottom: 100px;
  margin-left: 30px;
}
.testi-star8{
  margin-bottom: 100px;
  margin-left: 30px;
}

.testi-con0{
  margin-bottom: 70px;
}
.testi-con1{
  margin-bottom: 62px;
}
.testi-con2{
  display: none !important;
}
.testi-con3{
  margin-bottom: 42px;
}
.testi-con4{
  margin-bottom: 32px;
}
.testi-con5{
  margin-bottom: 42px;
}
.testi-con6{
  display: none !important;
}
.testi-con7{
  margin-bottom: 42px;
}
.testi-con8{
  margin-bottom: 48px;
}
.input1{
position: relative;
height: 35px;
top: 3px;
margin-bottom: 0px;
}
.input2{
position: relative;
right: 0%;
margin-top: 5px;
}
.input3{
position: relative;
left: 0%;
margin-top: 5px;
}
.input4{
position: relative;
left: 0%;
margin-top: 5px;
}
.input5{
position: relative;
left: 0%;
margin-top: 5px;
margin-left: 0;
}
.input6{
position: relative;
}
.btn-primary{
position: relative;
left: 0%;
width: 80%;
height: 35px;
border-radius: 2px;
background-color: #27b2e0;
color: #fff;
border: 1px #27b2e0;
margin-top: 10px;
}
.book-box{
  margin-top: 20px;
  background-color: transparent !important;
  padding: 20px 10px 20px 10px;
  color: #fff;
  font-family: "Montserrat";
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  bottom: 30px;
 
}
.time-width{
 width: 80%;
}
.date-width{
  width: 80%;
}
.air-width{
  width: 80%;
}
.home-label{
  display: none;
}
.v-scroll{
  top:200px;
}
}
@media only screen and (max-width:700px){
  .navbar{
  width: 60%;
}
  .main-header{
    right: 49%;
    top: -45px;
  }
  .header-logo{
  position: absolute;
  width: 99%;
}

  .overlay {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #005e7d;
    overflow-x: hidden;
    transition: 0.5s;
}
.nav-icon{
  display: block;
  position: absolute;
  top: 60px;
  cursor: pointer !important;
  color: #fff;
  text-align: right;
  font-size: 35px;
  right: -53%;
}
.remove-nav-icon{
  display: none;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #000033;
}

.overlay .closebtn {
    position: absolute;
    top: -11px;
    right: 24px;
    font-size: 60px;
}



.navbar-nav{
  display: none;
}


  #header{
  width: 100%;
  height: 100vh;

}
.header-sub{
  font-size: 20px;
  letter-spacing: 7px;
  }

  .navbar-dark .navbar-toggler {
  position: relative;
  left: 150%;
  top: 45px;

}
  .navbar{
    position: fixed;
    margin-top: -41px;
    display: block;
    float: left;
    left: 30%;
    right:10%;
  }

  .text-center {
    text-align: left!important;
}

  .vl{
    display: none;
  }

  .vl4{
    display: none;
  }
.layer4-align{
 position: relative;
 left: 0%;
}
.header{
  font-size: 40px;
   letter-spacing: 13px;
}

.header-sub{
  font-size: 17px;
    letter-spacing: 6px;
  }
.col3-align {
    position: relative;
    left: 0%;
}

.input1{
position: relative;
height: 35px;
top: 3px;
margin-bottom: 0px;
}
.input2{
position: relative;
right: 0%;
margin-top: 5px;
}
.input3{
position: relative;
left: 0%;
margin-top: 5px;
}
.input4{
position: relative;
left: 0%;
margin-top: 5px;
}
.input5{
position: relative;
left: 0%;
margin-top: 5px;
margin-left: 0;
}
.input6{
position: relative;
}
.btn-primary{
position: relative;
left: 0%;
width: 200px;
height: 35px;
border-radius: 2px;
background-color: #27b2e0;
color: #fff;
border: 1px #27b2e0;
margin-top: 10px;
}
.book-box{
  margin-top: 20px;
  background-color: transparent !important;
  padding: 20px 10px 20px 10px;
  color: #fff;
  font-family: "Montserrat";
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  bottom: 30px;
 
}

.v-scroll{
  position: absolute;
  top: 1px;
  }
 .foot-col2-sub{
text-align: left;
margin-left: 10px;
  }
  .foot-col2{
text-align: left;
  }
.home-label{
  display: none;
}
.datepicker {
  padding: 5px 130px 5px 10px;
}
.date-width {
    width: 80%;
}
.air-width{
  width: 80%;
}
select.form-control-sm{
  width: 80% !important;
}
button.btn.btn-primary.btn-sm{
  width: 80%;
}
.navbar.solid{
  display: none;
}
#layer3{
    height: 100vh;

  }

  .layer4-title{
  right: 1%;
}
.slick-slide img{
  position: relative;
  left: 6%;
}
.info{
  right: 0;
}
.testi-name0{
  margin-bottom: 0px;
}
.testi-name1{
  margin-bottom: 0px;
}
.testi-name2{
  margin-bottom: 0px;
  display: inline-block !important;
}
.testi-name3{
  margin-bottom: 0px;
}
.testi-name4{
  margin-bottom: 0px;
}
.testi-name5{
  margin-bottom:  0px;
}
.testi-name6{
  margin-bottom: 0px;
  display: inline-block !important;
}
.testi-name7{
  margin-bottom: 0px;
}
.testi-name8{
  margin-bottom: 0px;
}

.testi-star0{
  margin-bottom: 0px;
  margin-left: 100px;
}
.testi-star1{
  margin-bottom: 0px;
  margin-left: 100px;
}
.testi-star2{
  margin-bottom: 0px;
  margin-left: 100px;
  display: inline-block !important;
}
.testi-star3{
  margin-bottom: 0px;
  margin-left: 100px;
}
.testi-star4{
  margin-bottom: 0px;
  margin-left: 100px;
}
.testi-star5{
  margin-bottom: 0px;
  margin-left: 100px;
}
.testi-star6{
  margin-bottom: 0px;
  margin-left: 100px;
  display: inline-block !important;
}
.testi-star7{
  margin-bottom: 0px;
  margin-left: 100px;
}
.testi-star8{
  margin-bottom: 0px;
  margin-left: 100px;
}

.testi-con0{
  margin-bottom: 50px;
}
.testi-con1{
  margin-bottom: 30px;
}
.testi-con2{
  margin-bottom: 40px;
  display: inline-block !important;
}
.testi-con3{
  margin-bottom: 50px;
}
.testi-con4{
  margin-bottom: 30px;
}
.testi-con5{
  margin-bottom: 20px;
}
.testi-con6{
  margin-bottom: 28px;
  display: inline-block !important;
}
.testi-con7{
  margin-bottom: 50px;
}
.testi-con8{
  margin-bottom: 80px;
}
  .foot-logo{
  width:70%; 
  margin: 20px 0 40px -40%;
}
}
@media only screen and (max-width:376px){

.v-scroll{
  position: relative;
  top: -40px;
  }
.header{
  font-size: 40px;
  letter-spacing: 13px;
  margin-top: 10px;
}

.header-sub{
  font-size: 17px;
    letter-spacing: 6px;
  }
.testi-star0{

  margin-left: 90px;
}
.testi-star1{

  margin-left: 90px;
}
.testi-star2{

  margin-left: 90px;
  display: inline-block !important;
}
.testi-star3{

  margin-left: 90px;
}
.testi-star4{

  margin-left: 90px;
}
.testi-star5{

  margin-left: 90px;
}
.testi-star6{

  margin-left: 90px;
  display: inline-block !important;
}
.testi-star7{

  margin-left: 90px;
}
.testi-star8{

  margin-left: 90px;
}
.testi-con0{
  margin-bottom: 50px;
}
.testi-con1{
  margin-bottom: 15px;
}
.testi-con2{
  margin-bottom: 25px;
  display: inline-block !important;
}
.testi-con3{
  margin-bottom: 30px;
}
.testi-con4{
  margin-bottom: 25px;
}
.testi-con5{
  margin-bottom: 0px;
}
.testi-con6{
  margin-bottom: 28px;
  display: inline-block !important;
}
.testi-con7{
  margin-bottom: 50px;
}
.testi-con8{
  margin-bottom: 80px;
}
}
@media only screen and (max-width:320px){
.header{
  font-size: 30px;
  letter-spacing: 13px;
  margin-top: 10px;
}

.header-sub{
  font-size: 12px;
  letter-spacing: 5px;
  }

.navbar-dark .navbar-nav .nav-link{
  color: #fff;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 100;
}
.book-box{
font-size: 15px;
margin-top: 0;
position: relative;
top: -90px;
  }
.form-control-sm{
font-size: 12px !important;
}
.btn-primary{
font-size: 12px;
}
.v-scroll{
  position: relative;
  top: -55px;
  }
  .layer3-header {
    font-size: 29px;
}
.slick-slide img{
  left: -6%;
}
.testi-con3{
  margin-bottom: 20px;
}
.testi-con4{
  margin-bottom: 15px;
}
.testi-con5{
  margin-bottom: 0px;
}
}

  /* END MOBILE */

