/* START NAVBAR */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
.navbar-light{
    background-color: transparent;

}
.bg-light{
    background-color: transparent !important;
}
.navbar{
    position: fixed;
    left: 43%;
    transform: translateX(-1%);
    background-color: none;
    margin: 30px 0 0 0;
    right: 0;
    z-index: 2001;
}
.navbar-light .navbar-nav .nav-link{
    color: #000;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
}
.navbar-light .navbar-nav .active{
    color: #27b2e0 !important;
}
.navbar-light .navbar-nav .nav-link:hover
{
    color: #27b2e0;
}
.vl {
    border-left: 2px solid #000;
    height: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
}
.navbar-brand{
    position: absolute;
    right: 133%;
    /*right: 120%;*/
    top: -25px;
    width:250px;
    /*width:40%;*/
}
.navbar.solid {
  background-color: #fff !important;
  transition: background-color 1s ease 0s;
  margin: 0 0 0 0;
  width: 100%;
  padding: 5px 0 5px 0;
  left: 1%;
  -webkit-box-shadow: 0 1px 20px 0 #000;
  -moz-box-shadow: 0 1px 20px 0 #000;
  box-shadow: 0 1px 20px 0 #000;
  z-index: 2000;
}
.navbar.solid .navbar-nav{
  position: relative;
  left: 7%;
}
.navbar.solid .navbar-nav > .nav-item > .nav-link {
  transition: color 1s ease 0s;
  margin: 0 25px 0 25px;
}
.navbar.solid .navbar-nav > .nav-item > .nav-link:hover {
  border: 2px solid #27b2e0;
   }
   .navbar.solid .navbar-brand{
    position: relative !important;
    left: 19%;
    width: 40%;
    top: 10%;
   }
.overlay-nav{
  display: none;
}
.nav-icon{
  display: none;
}
.active{
  color: #27b2e0 !important;
}
.dropdown-item {
  font-family: "Montserrat" !important;
}
.dropdown-item:hover {
  color: #27b2e0 !important;
}
.navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute !important;
    left: 13%;
}
/* END NAVBAR */
/* START 2nd NAVBAR */
.navbar-2-mobile{
  display: none;
}
.navbar-2{
position: relative;
background-color: #27b2e0 !important;
padding: 50px 0 40px 0;

}
.book-box{
  padding: 20px 80px 40px 20px;
  color: #fff;
  font-family: "Montserrat";
  letter-spacing: 1px;
}
.link-2{
    color: #fff !important;
}
.active-2{
    position: relative;
    background-color: #27b2e0;
    padding: 30px 30px 29px 30px;

}
.not-active{
    padding: 30px 30px 29px 30px;
   
}
.not-active:hover{
    background-color: #005e7d;
}

.active-2:hover{
    background-color: #005e7d;
}
.ul-pos{
    position: absolute;
    top: 1%;
    margin-left: 135px;
}
.nav-link {
    display: block !important;
    padding: 0.30rem 1rem !important;
}
/* END 2nd NAVBAR */

/* START TERMS CONTENT */

.outer-con{
  background-color: #ecf3f9;
  margin-top: 80px; 
  padding: 30px;
  font-family: "Montserrat";
  color: rgb(82, 82, 82);
}
.inner-con2{
  background-color: #fff;
  padding:20px;
}
.inner-con{
  background-color: #fff;
  padding: 20px 50px 20px 20px;
}
.term-title{
 text-align: center;
}
.term-head{
  text-align: center;
  font-weight: 300;
  font-size: 22px;
}
.term-content{
  text-align: justify;
}
.term-t{
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 20px;
}
hr{
  height:1px;
  border:none;
  color:#828282;
  background-color:#828282;
}
.list{
  margin-top: 40px;
  margin-bottom: 40px;
}
.term-li{
  margin-bottom: 20px;
  text-align: justify;
}
.side-banner{
  position: absolute;
  right: 0%;
}
.banner-percent{
  text-align: center;
  font-size: 60px;
  font-family: "Montserrat";
  color: rgb(235, 104, 2);
  margin-top: 30px;
}
.banner-con{
  background-color: #fff;
  padding-bottom: 30px;
}
.cwu{
  margin-top: 40px;
}
.read-review-con{
  background-color: #27b2e0;
  padding: 5px 0 5px 0;
  text-align: center;
  border-radius: 5px;
}
.read-review{
  color: #fff;
}
.read-review-con:hover{
  background-color: #005e7d;
}
.read-review:hover{
  color: #fff;
  text-decoration: none;
}

/* END TERMS CONTENT */

/* START FOOTER */
footer{
  background-color: #1c1c1c;
  padding: 50px 0 30px 0;
  bottom: 0;
  position: relative;
}
.foot-col2{
  font-size: 35px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  position: relative;
  letter-spacing: 10px;
  left: 2%;

}
.foot-col1{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: relative;
  left: 2%;
}
.foot-col2-sub{
  font-size: 15px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  position: relative;
  letter-spacing: 4px;
  bottom: 10%;

}
.foot-col3{
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  position: relative;
  letter-spacing: 3px;
  margin-left: 37px;
}
.info{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  position: relative;
}
.col3-align{
  position: relative;
  left: 5%;
}
.footer-con{
  color: #fff;

}
.link-con{
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat";
  font-size: 15px;
}
.link-con:hover{
  text-decoration: none;
  color: #27b2e0;

}
.active-privacy{
  color: #27b2e0;
}
.footer-con ul{
  overflow: hidden;
  position: relative;
  left: -7%;
}
.footer-con ul li{
  display: inline;
}
.footer-con ul li .fl{
  display: inline;
}
.fl{
   border-left: 2px solid #fff;
    height: 25px;
    margin-right: 16px;
    margin-left: 10px
}
.foot-gps{
  margin-left: 40px;
}
.foot-logo{
  width:90%; 
  margin-right:auto; 
  margin-left:auto;
}

/* END FOOTER */

/* START MOBILE */
@media only screen and (max-width:1025px){
.navbar {
    position: fixed;
    left: 40%;
    margin: 36px 0 0 0;
}
.navbar.solid {
    width: 111%;
    left: -9%;
    }
    .navbar.solid .navbar-nav {
    position: relative;
    left: -2%;
}
.navbar-2{
  padding: 50px 0 41px 0;
}
.ul-pos{
  margin-left: 0 !important;
}
.col3-align {
    left: 3%;
}
.mob-icon{
  display: none;
}
    .foot-gps{
  margin-left: 0;
}
.info{
  position: relative;
  right: -4%;
}
.foot-col3 {
    right: 9%;
}
.mobile li {
    display: inline;
  }
  .mobile li .vl-mobile{
    display: inline;
  }
  .navbar-brand {
    position: absolute;
    right: 120%;
    top: -25px;
    width: 250px;
}
}

@media only screen and (max-width:992px){
.navbar.solid {
    left: -10%;
    width: 133% !important;
    padding: 10px 0 10px 0;
}
.navbar.solid .navbar-nav {
    position: relative;
    left: -16% !important;
}
.navbar.solid .navbar-nav > .nav-item > .nav-link {
    margin: 0px 10px 0 10px;
}
.navbar.solid .navbar-brand {
    position: relative !important;
    left: 19%;
}
.navbar {
    width: 80%;
    left: 40%;
    margin: 40px 0 0 0;
}
.navbar-brand {
    position: absolute;
    right: 107%;
}

.navbar-2-mobile ul{
  background-color: #27b2e0;
  padding: 37px 40px 37px 46px;
  position: relative;
  margin-bottom: 0rem !important;
  right: 0%;
  width: 100%;
}
.active-2-mobile{
  background-color: #27b2e0;
  display: inline;
  padding: 40px 40px 40px 40px;

}
.not-active-2-mobile{
  display: inline;
  padding: 40px 40px 40px 40px;

}
.not-active-2-mobile:hover{
 background-color: #005e7d;
 
} 
.active-2-mobile:hover{
 background-color: #005e7d;
 
}

.navbar-2-mobile ul li a{
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
.text-center {
    position: relative;
    right: 0%;
}
.vl{
  display: none;
}
.text-center > .navbar-nav > .nav-item{
  margin-left: 10px;
  margin-right: 10px;
}
.navbar.solid .navbar-nav > .nav-item{
margin-left: 0px;
  margin-right: 0px;
}
.mobile li {
    display: inline;
  }
  .mobile li .vl-mobile{
    display: inline;
  }
}
@media only screen and (max-width:700px){
  .overlay-nav {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2004;
    top: 0;
    left: 0;
    background-color: #005e7d;
    overflow-x: hidden;
    transition: 0.5s;
}
.nav-icon{
    display: block;
    position: absolute;
    top: 18px;
    cursor: pointer !important;
    color: #000;
    text-align: right;
    font-size: 35px;
    right: 17%;
}
.remove-nav-icon{
  display: none;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-nav a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.overlay-nav a:hover, .overlay-nav a:focus {
    color: #000033;
}

.overlay-nav .closebtn {
    position: absolute;
    top: -2px;
    right: 24px;
    font-size: 60px;
}
.navbar.solid{
  display: none;
}
.navbar-nav{
  display: none;
}
    .app-full{
        width: 50%;
        position: relative;
        right: 5%
    }

    .vl{
        display: none;
    }
    .navbar-light .navbar-toggler {
        position: relative;
        color: #fff !important;
        border-color: #1d2124 !important;
        left: 70%;

    }
    .navbar{
        position: absolute;
        margin-top: 12px;
        display: block;
        float: left;
        left: 50%;
        background-color: #fff !important;
        width: 50%;
    }
    .navbar-brand{
        position: absolute;
    right: 91%;
    top: 3px;
    width: 100%;
    }
.navbar-light .navbar-nav .nav-link {
  margin-top: 10px;
  }

.navbar-2-mobile ul{
  background-color: #27b2e0;
  padding: 14px 0px 18px 0px;
  position: relative;
  margin-bottom: 0rem !important;
}
.active-2-mobile{
  background-color: #27b2e0;
  display: inline;
  padding: 17px 11px 21px 11px;

}
.not-active-2-mobile{
  display: inline;
  padding: 17px 11px 22px 11px;

}
.active-2-mobile{
  display: inline;
  padding: 17px 11px 21px 11px;

}
.not-active-2-mobile:hover{
 background-color: #005e7d;
 
} 
.navbar-2-mobile ul li a{
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
.foot-col2-sub{
text-align: left;
margin-left: 10px;
  }
  .foot-col2{
text-align: left;
  }
  .col3-align {
    position: relative;
    left: 0%;
}
.side-banner{
  margin-top: 25px;
  position: relative;
  right: 0%;
}
 .mobile li {
    display: inline;
  }
  .mobile li .vl-mobile{
    display: inline;
  }
   .foot-logo{
  width:70%; 
  margin: 20px 0 40px -40%;
}
}
@media only screen and (max-width:500px){
  .navbar-brand {
    position: absolute;
    right: 46%;
    top: -10px;
    width: 150%;
}
.con-content{
  font-size: 15px;
}
.get-in-touch{
  font-size: 30px;
}
.contact-head{
  font-size: 24px;
}
.con-link1{
font-size: 14px;
}
.con-link2{
font-size: 14px;
}
.fa-facebook-f{
  font-size: 20px !important;
}
.fa-twitter{
  font-size: 20px !important;
}
.active-2-mobile {
    padding: 13px 5px 15px 5px;
}
.not-active-2-mobile {
    padding: 13px 5px 15px 4px;
}
.navbar-2-mobile ul {
    padding: 10px 0px 12px 0px;
  }
  .vl-mobile{
    border-left: 2px solid #fff;
    height: 25px;
    margin-left: 0px;
    margin-right: 2px;
  }
  .mobile li {
    display: inline;
  }
  .mobile li .vl-mobile{
    display: inline;
  }
  .navbar-2-mobile ul li a {
    font-size: 13px;
  }
  .term-title{
    font-size: 30px;
  }
  .term-li {
    font-size: 12px;
}
.term-content {
    font-size: 12px;
}
.cwu {
    font-size: 15px;
}
.read-review-con {
    font-size: 15px;
}
.inner-con {
    padding: 20px 23px 20px 20px;
}
}
/* END MOBILE */